<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-info">
  <a class="navbar-brand" href="#">JCarrollOnline</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home"><p class="white-text">Home</p><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link" routerLink="/users"><p class="white-text">Users</p></a>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link" routerLink="/fora"><p class="white-text">Fora</p></a>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link" routerLink="/profile"><p class="white-text">Profile</p></a>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link" routerLink="/about"><p class="white-text">About</p></a>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link" routerLink="/contact"><p class="white-text">Contact</p></a>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link" routerLink="/sandbox"><p class="white-text">Sandbox</p></a>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link" routerLink="/blog"><p class="white-text">Blog</p></a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item ml-3">
        <a class="nav-link" routerLink="/register"><p class="white-text">Register</p></a>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link" routerLink="/login"><p class="white-text">Login</p></a>
      </li>
    </ul>
  </div>
</nav>
